.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rcheck/
*.BiocCheck/
*.tar.gz
Rplots.pdf
cache/
dev/
tools/
inst/doc/
src/*.o
src/*.so
src/*.dylib
src/Makevars
src/symbols.rds
.DS_Store
tmp/
*.log
faiss_hnsw_mnist70k_*.csv
mnist70k_knn_predict_speed*.csv
local_mnist70k_cpu_*/
manuscript/
