useDynLib(faissR, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(methods, as)
importFrom(stats, dist)
importFrom(stats,median)
importFrom(stats,predict)
export(backend_info)
export(candidate_knn)
export(cuda_available)
export(cugraph_available)
export(cuvs_available)
export(faiss_available)
export(fast_kmeans)
export(knn)
export(knn_graph)
export(graph_cluster)
export(nn_capabilities)
export(nn)
export(nn_without_self)
S3method(print,faissR_graph_cluster)
S3method(print,faissR_nn)
S3method(predict,faissR_knn_model)
